@media print {
  @page {
    size: A4 landscape;
    margin: 12mm;
  }

  .no-print {
    display: none !important;
  }

  .print-page {
    break-after: page;
    page-break-after: always;
  }

  table {
    page-break-inside: avoid;
  }
}
